<!DOCTYPE html>
<html lang="en">
<head>
    <!-- JAVASCRIPT -->
    <script src="static/js/jquery/jquery-3.3.1.js"></script>
    <script src="static/js/jquery/jquery-ui.js"></script>
    <script src="static/js/bootstrap/bootstrap.js"></script>
    <script src="static/js/bootstrap/bootstrap-dialog.js"></script>

    <!-- CASCADING STYLE SHEETS -->
    <link rel="stylesheet" href="static/css/jquery/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap-dialog.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/main.css">

    <meta charset="UTF-8">
    <title>Thắm Võ Profile</title>
</head>
<body>
<!--BODY-->
<div class="marginLeftRight">
	<!--HEADER-->
	<div id="headDiv">
		<div id="infoDiv" class="col-md-5">
			<h3>THAM THI HONG VO</h3>
			<p>Ph.D. candidate in Computer Science</p>
		</div>
		<div id="contactInfoDiv" class="col-md-7">
			<div class="col-md-4">
				<h3><span class="small glyphicon glyphicon-phone"></span></h3>
				<p>(+84) 935 000 111</p>
			</div>
			<div class="col-md-4">
				<h3><span class="small glyphicon glyphicon-envelope"></span></h3>
				<p>vothihongtham@gmail.com</p>
			</div>
			<div class="col-md-4">
				<h3><span class="small 	glyphicon glyphicon-home"></span></h3>
				<p>HCMC, Vietnam</p>
			</div>
		</div>
	</div>
    <!--LEFT-->
	<div class="col-md-12">
		<div id="leftDiv" class="col-md-5">
			<div id="avatarDiv" align="center" class="col-md-12">
				<img id="avatarImg" class="img-circle" src="static/images/35227924_2155459388031824_4166122121115729920_n.jpg"
					 alt="Avatar" height="250">
				<p>
				<td class="titleTd"><b>Name: </b></td>
				<td>Tham Thi Hong Vo</td>
				<p>
				<td class="titleTd"><b>Nationality: </b></td>
				<td>Vietnam</td>
				<p>
				<td class="titleTd"><b>ID number: </b></td>
				<td>Awesome</td>
			</div>
			<div class="col-md-12 content">
				<h3><span class="glyphicon glyphicon-user"></span><b>PERSONAL PROFILE</b></h3>
				<p>A Ph.D. candidate in Computer Science, Vice Head of Information Systems Department, Faculty of Engineering
				and Technology, Trainer of Institute for Strategic Development at Thu Dau Mot university, Binh Duong, Vietnam.
				Her current research focuses on data mining, information management, and developing teaching methodology 
				training programs. She believes that “The only way to do great work is to love what you do”.</p>
			</div>
			<div class="col-md-12 content">
				<h3><span class="glyphicon glyphicon-tasks"></span><b>SKILLS & ATTRIBUTES</b></h3>
				<ul>
					<li>
						<p>Teaching</p>
					</li>
					<li>
						<p>Doing Research</p>
					</li>
				</ul>
			</div>
			<div class="col-md-12 content">
				<h3><span class="glyphicon glyphicon-education"></span><b>EDUCATION</b></h3>
				<ul>
					<li>
						<p>VAN HIEN UNIVERSITY, HCMC, BACHELOR OF INFORMATION TECHNOLOGY</p>
						<ul>
							<q>Duration: from 2000 to 2005</q>
						</ul>
					</li>
					<li>
						<p>UNIVERSITY OF INFORMATION TECHNOLOGY, MASTER OF COMPUTER SCIENCE</p>
						<ul>
							<q>Duration: from 2006 to 2009</q>
						</ul>
					</li>
					<li>
						<p>LAC HONG UNIVERSITY, PH.D. CANDICATE IN COMPUTER SCIENCE</p>
						<ul>
							<q>Duration: from 2017 to present</q>
						</ul>
					</li>
					<li>
						<p>Additional Certifications</p>
						<ul>
							<li>Microsoft Office Specialist Word, Excel, PowerPoint</li>
							<li>DB2 Database and Application Fundamentals</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-md-12 content li-type-2">
				<h3><span class="glyphicon glyphicon-briefcase"></span><b>WORK EXPERIENCE</b></h3>
				<ul>
					<li>
						<p>Lecturer at Van Hien University and HUFLIT University</p>
						<ul>
							<q>Duration: from 2005 to 2010</q>
						</ul>
					</li>
					<li>
						<p>Deputy Head in Faculty of Engineering and Technology at TDMU, Binh Duong</p>
						<ul>
							<q>Duration: from 2010 to present</q>
						</ul>
					</li>
					<li>
						<p>English book translation</p>
					</li>
					<li>
						<p>English interpreter for training courses of teaching methods </p>
					</li>
					<li>
						<p>Program/Course/syllabus/lesson plan designer</p>
					</li>
					<li>
						<p>Teaching professional skills, social skills, facilitating skills</p>
					</li>
				</ul>
			</div>
		</div>
		<!--RIGHT-->
		<div id="rightDiv" class="col-md-7">
			<div class="col-md-12 content li-type-2">
				<h3><span class="glyphicon glyphicon-briefcase"></span><b>ATTENDANCE CONFERENCE AND WORKSHOP</b></h3>
				<ul>
					<li>
						<p>Presentation skills</p>
						<ul>
							<li>Year: 2011 </li>
							<li>By: Kent International College</li>
						</ul>
					</li>
					<li>
						<p>Professional English Writing for Publication in Education</p>
						<ul>
							<li>Year: 2014</li>
							<li>By: The University of Hawai’i at Mãnoa</li>
						</ul>
					</li>
					<li>
						<p>Authentic Learning and Authentic Assessment</p>
						<ul>
							<li>Year: 2014</li>
							<li>By: Tra Vinh University </li>
						</ul>					
					</li>
					<li>
						<p>Using Instructional Technology in Material Development</p>
						<ul>
							<li>Year:  2013</li>
							<li>By: Seameo Regional Training Center</li>
						</ul>
					</li>
					<li>
						<p>Curriculum Design Workshop</p>
						<ul>
							<li>Year: 2015</li>
							<li>By: Vietnam National University & Universiteit Gent</li>
						</ul>
					</li>
					<li>
						<p>Instructional Skills Workshop</p>
						<ul>
							<li>Year: 2015</li>
							<li>By: Tra Vinh University</li>
						</ul>
					</li>
					<li>
						<p>Facilitator Development Workshop</p>
						<ul>
							<li>Year: 2015</li>
							<li>By: Tra Vinh University</li>
						</ul>
					</li>
					<li>
						<p>Designing Student Assessment and Evaluation</p>
						<ul>
							<li>Year: 2015</li>
							<li>By: TDMU</li>
						</ul>
					</li>
					<li>
						<p>Discovery Learning: Inquiry, Problem and Case-Based Instruction</p>
						<ul>
							<li>Year: 2015</li>
							<li>By: TDMU</li>
						</ul>
					</li>
					<li>
						<p>Implement Effective Assessment and Teaching Strategies</p>
						<ul>
							<li>Year: 2017</li>
							<li>By: FulBright Program, University of Science & University of Georgia</li>
						</ul>
					</li>
					<li>
						<p>Aligning Assessment to Learning Outcomes and Teaching Strategies</p>
						<ul>
							<li>Year: 2017</li>
							<li>By: FulBright Program, University of Science & University of Georgia</li>
						</ul>
					</li>
					<li>
						<p>Online and Blended Course Workshop</p>
						<ul>
							<li>Year: 2017</li>
							<li>By: TDMU</li>
						</ul>
					</li>
					<li>
						<p>Temasek Foundation International@10 CDIO Forum</p>
						<ul>
							<li>Year: 2017</li>
							<li>By: Singapore Polytechnic</li>
						</ul>
					</li>
					<li>
						<p>Harvard ManageMentor Program</p>
						<ul>
							<li>Year: 2018</li>
							<li>By: Harvard Business School Publishing</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	<div id="footDiv" class="col-md-12">
		<h3>THAM THI HONG VO --- Ph.D. candidate in Computer Science</h3>
	</div>
</div>
<!-- MAIN JS -->
<script src="static/js/main.js"></script>
</body>
</html>