<!DOCTYPE html>
<html lang="en">
<head>
    <!-- JAVASCRIPT -->
    <script src="static/js/jquery/jquery-3.3.1.js"></script>
    <script src="static/js/jquery/jquery-ui.js"></script>
    <script src="static/js/bootstrap/bootstrap.js"></script>
    <script src="static/js/bootstrap/bootstrap-dialog.js"></script>

    <!-- CASCADING STYLE SHEETS -->
    <link rel="stylesheet" href="static/css/jquery/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/jquery/jquery-ui.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap-dialog.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/main.css">

    <meta charset="UTF-8">
    <title>Thắm Võ Profile</title>
</head>
<body>
<!--HEADER-->
<div>

</div>
<!--BODY-->
<div class="marginLeftRight">
    <!--LEFT-->
    <div id="leftDiv" class="col-md-5">
        <div id="avatarDiv" align="center" class="col-md-12">
            <img id="avatarImg" class="img-circle" src="C:\Users\Dark Son\Pictures\dark_wolf_by_juanjorm123-d4owx31.jpg"
                 alt="Avatar" width="250" height="250">
            <p>
            <td class="titleTd"><b>Name: </b></td>
            <td>Nguyen Huu Dac</td>
            <p>
            <td class="titleTd"><b>Nationality: </b></td>
            <td>Vietnam</td>
            <p>
            <td class="titleTd"><b>ID number: </b></td>
            <td>Awesome</td>
        </div>
        <div class="col-md-12 content">
            <h3><span class="glyphicon glyphicon-user"></span><b>PERSONAL PROFILE</b></h3>
            <p>Machine learning is a field of computer science that often uses statistical techniques to give computers
                the ability to "learn" (i.e., progressively improve performance on a specific task) with data, without
                being explicitly programmed. Machine learning is a field of computer science that often uses statistical
                techniques to give computers the ability to "learn" (i.e., progressively improve performance on a
                specific task) with data, without being explicitly programmed.</p>
        </div>
        <div class="col-md-12 content">
            <h3><span class="glyphicon glyphicon-tasks"></span><b>SKILLS & ATTRIBUTES</b></h3>
            <li>Machine learning is a field of computer science that often uses statistical techniques to give computers
                the ability to "learn" (i.e., progressively improve performance on a specific task) with data, without
                being explicitly programmed.
            </li>
            <li>Machine learning is a field of computer science that often uses statistical
                techniques to give computers the ability to "learn" (i.e., progressively improve performance on a
                specific task) with data, without being explicitly programmed.
            </li>
            <li>Machine learning is a field of computer science that often uses statistical
                techniques to give computers the ability to "learn" (i.e., progressively improve performance on a
                specific task) with data, without being explicitly programmed.
            </li>
            <li>Machine learning is a field of computer science that often uses statistical
                techniques to give computers the ability to "learn" (i.e., progressively improve performance on a
                specific task) with data, without being explicitly programmed.
            </li>
            <li>Machine learning is a field of computer science that often uses statistical
                techniques to give computers the ability to "learn" (i.e., progressively improve performance on a
                specific task) with data, without being explicitly programmed.
            </li>
        </div>
    </div>
    <!--RIGHT-->
    <div id="rightDiv" class="col-md-7">
        <div class="col-md-12 content">
            <h3><span class="glyphicon glyphicon-education"></span><b>EDUCATION</b></h3>
            <ul class="list-with-vertical-line">
                <li>
                    <span>Machine learning is a field of computer science that often uses statistical techniques</span>
                </li>
                <li>
                    <span>to give computers the ability to "learn" (i.e., progressively improve performance on a specific task) with data</span>
                </li>
                <li>
                    <span>without being explicitly programmed. Machine learning is a field of computer science that often</span>
                </li>
                <li>
                    <span>uses statistical techniques to give computers the ability to "learn" (i.e., progressively improve</span>
                </li>
                <li>
                    <span>performance on a specific task) with data, without being explicitly programmed.</span>
                </li>
            </ul>
        </div>
        <div class="col-md-12 content li-type-2">
            <h3><span class="glyphicon glyphicon-briefcase"></span><b>WORK EXPERIENCE</b></h3>
            <ul class="list-with-vertical-line">
                <li>
                    <span>Machine learning is a field of computer science that often uses statistical techniques</span>
                </li>
                <li>
                    <span>to give computers the ability to "learn" (i.e., progressively improve performance on a specific task) with data</span>
                </li>
                <li>
                    <span>without being explicitly programmed. Machine learning is a field of computer science that often</span>
                </li>
                <li>
                    <span>uses statistical techniques to give computers the ability to "learn" (i.e., progressively improve</span>
                </li>
                <li>
                    <span>performance on a specific task) with data, without being explicitly programmed.</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- MAIN JS -->
<script src="static/js/main.js"></script>
</body>
</html>